$primary: #0f0f0f;
$button: #a52a2a;
$font: #ffffff;
$neutralDark: #212121;
$neutralPrimary: #3c3c3c;
$neutralSecondary: #666666;
$neutralQuaternary: #d0d0d0;
$backColor: #0f0f0f;
$baseColor: #ffffff;
$backHeader: #001529;