@import "./colors.scss";

.ant-layout {
    &-header {
        position: fixed;
        width: 100%;
    }

    &-footer {
        text-align: center;
        background: $baseColor !important;
    }

    &-sider-children {
        display: flex;
        align-items: center;
    }
}

.ant-table-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ant-space-item {
    display: flex;
    align-items: center;
   
}

.logo {
    height: 58px;
    width: 45px;
}

.ant-row {
    flex-flow: nowrap !important;
}

.ant-input {
    width: fit-content !important;
}

.ant-table-pagination-right {
    justify-content: center !important;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.content {
    background: $baseColor;
    padding: 30px;
    min-height: calc(100vh - 70px);
    width: 100%;
}

.site-layout {
    margin-top: 70px;
}
