/*.container-orders {
    background: $baseColor;
    margin-top: 100px;
    padding: 30px;
    min-height: calc(100vh - 70px);
    width: 100%;
} */
.orders-left-menu {
    display: flex;
    justify-content: center;
}